configuration {
 modi: "window,drun,ssh,combi,filebrowser,calc,emoji,keys,run";
 font: "MesloLGS NF 14";
 combi-modi: "window,drun,ssh";
 }
 @theme "gruvbox-dark-soft"
element {
  orientation: horizontal;
  children: [element-icon ,element-text ];
  spacing: 5px;
}
